<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{>favicon}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div id="main-content">
        {{>header}}
        <br><br><br>
        <p>This is my second node.js app.</p>
        <p>It uses mapbox.com and darksky.net API</p>

        <a href="http://github.com/paawankohli"><img id="github" src="./img/github.png"
                alt="github.com/paawankohli"></a>
    </div>
    {{>footer}}

</body>

</html>