<!DOCTYPE html>

<html>

<head>
    <title>Error Occured!</title>
    {{>favicon}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div id="main-content">
        {{>header}}
        <br>
        <br>
        <br>
        Error Code: {{errorCode}}
        <br>
        Error Message: {{errorMessage}}
    </div>

    {{>footer}}

</body>

</html>