* {
    background-color: #222831;
}

body {
    color: #00adb5;
    font-family: Arial;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 35px;
}

nav {
    margin: 15px;
    margin-top: 30px;
}

#main-content {
    flex-grow: 1;
}

nav a {
    background-color: #393e46;
    color: #eeeeee;
    padding: 10px 60px;
    margin: 10px;
    text-decoration: none;
    border-radius: 7px;
}

nav a:hover {
    background-color: #eeeeee;
    color: #393e46;
}

.portrait {
    width: 270px;
    height: 270px;
    margin: 15px;
    align-self: center;
}

.output {
    font-size: large;
    font-weight: bold;
    color: #eeeeee;
}

input {
    width: 450px;
    border: 0px;
    padding: 8px;
    height: 25px;
    color: #eeeeee;
    text-align: center;
    font-size: larger;
    background-color: #393e46;
    border-radius: 10px;
}

button {
    font-size: larger;
    border-radius: 10px;
    background-color: #393e46;
    text-align: center;
    color: #eeeeee;
    border: 0px;
    width: 100px;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    color: #393e46;
    background-color: #eeeeee;
}

#github {
    margin-top: 50px;
    width: 100px;
    height: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    header h1 {
        font-size: 70px;
    }

    nav {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    nav a {
        font-size: 40px;
        border-radius: 25px;
    }

    p {
        font-size: 30px;
    }

    input, button {
        font-size: 30px;
        padding: 11px;
        border-radius: 15px;
        border: 0px;
    }

    input {
        margin-top: 50px;
        width: 66%;
        height: 40px;
    }

    button {
        margin-top: 35px;
        width: 20%;
        cursor: pointer;
        /* height: 50px; */
        /* height: 30px; */
    }


    .output {
        font-size: 30px;
    }

    #github {
        width: 250px;
        height: auto;
    }

    footer h3 {
        font-size: 40px;
    }
}
